@model IEnumerable<QuanLyCuaHangSach.Models.Phieudathangmua>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    QLCHSContext context = new QLCHSContext();
    Nhanvien nv = context.Nhanviens.Find(Int32.Parse(User.Identity.Name));
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUẢN LÝ</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--sweetalert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    <!--sweetalert.end-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    @*<script src="~/js/xoa.js"></script>*@
    <link rel="stylesheet" href="~/css/stylegd.css" />

</head>

<script>
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + ":" + m + ":" + s;
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<i class="fa fa-clock-o" aria-hidden="true"></i> <span class="date">' + today + ' | ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }

    // load the time function to the span
    window.onload = function () {
        time();
    };
</script>

<script>
    var object = { stat: false, ele: null };
    function ConfirmDelete(ev) {
        if (object.stat) { return true; };
        swal({
            title: "Are you sure?",
            text: "Are you want to delete this item!",
            type: "warning",
            showCancelButton: true,
            cancelButtonColor: "#DD6B55",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirm",
            closeOnConfirm: true
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                object.stat = true;
                object.ele = ev;
                object.ele.click();
            });
        return false;
    };
</script>

<body>

    @if (@TempData["AlertMessage1"] != null)
    {
        <script>
            swal({
                type: 'success',
                title: 'Success!',
                text: '@TempData["AlertMessage1"]',
                showCloseButton: true,
                confirmButtonText: 'Close'
            });
        </script>
    }

    @if (@TempData["AlertMessagetk"] != null)
    {
        <script>
            swal({
                type: 'warning',
                title: 'Not Found',
                text: '@TempData["AlertMessagetk"]',
                showCloseButton: true,
                confirmButtonText: 'Close'
            });
        </script>
    }

    <div class="menu-bar">
        <h1 class="logo"><img src="~/img/icon.png" width="150px" style="margin-top:10px; margin-left:100px;" /></h1>
        <ul>
            @*<li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>*@
            <li>
                <a href="#">Danh mục<i class="fas fa-caret-down iconbar"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a href="#">Chi tiết sách<i class="fas fa-caret-right iconbar"></i></a>

                            <div class="dropdown-menu-1">
                                <ul>
                                    <li><a href="@Url.Action("Index","Tacgias")">Tác giả</a></li>
                                    <li><a href="@Url.Action("Index","Loaisaches")">Loại sách</a></li>
                                    <li><a href="@Url.Action("Index","Nhaxuatbans")">Nhà xuất bản</a></li>
                                    <li><a href="@Url.Action("Index","Ngonngus")">Ngôn ngữ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="@Url.Action("Index","Saches")">Sách</a></li>
                        <li><a href="@Url.Action("Index","Nganhangs")">Ngân hàng</a></li>
                        <li>
                            <a href="#">Đối tác<i class="fas fa-caret-right iconbar"></i></a>

                            <div class="dropdown-menu-1">
                                <ul>
                                    <li><a href="@Url.Action("Index","Nhacungcaps")">Nhà cung cấp</a></li>
                                    <li><a href="@Url.Action("Index","Donvivanchuyens")">Đơn vị vận chuyển</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Người dùng<i class="fas fa-caret-right iconbar"></i></a>

                            <div class="dropdown-menu-1">
                                <ul>
                                    <li><a href="@Url.Action("Index","Nhanviens")">Nhân viên</a></li>
                                    <li><a href="@Url.Action("Index","Khachhangs")">Khách hàng</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="@Url.Action("Index","Httts")">Hình thức thanh toán</a></li>
                        <li><a href="@Url.Action("Index","Trangthais")">Trạng thái</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#">Quản lý<i class="fas fa-caret-down iconbar"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a href="#">Đặt hàng mua<i class="fas fa-caret-right iconbar"></i></a>

                            <div class="dropdown-menu-1">
                                <ul>
                                    <li><a href="@Url.Action("Index","Phieudathangmuas")">Phiếu đặt hàng mua</a></li>
                                    <li><a href="@Url.Action("Index","Phieuthanhtoantienmuas")">Phiếu thanh toán</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="#">Đặt hàng bán<i class="fas fa-caret-right iconbar"></i></a>

                            <div class="dropdown-menu-1">
                                <ul>
                                    <li><a href="@Url.Action("Index","Phieudathangbans")">Phiếu đặt hàng bán</a></li>
                                    <li><a href="@Url.Action("Index","Phieuthutienbans")">Phiếu thu tiền</a></li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="@Url.Action("Indexxacnhan","Phieudathangmuas")">Xác nhận đặt hàng</a></li>

                    </ul>
                </div>
            </li>

             <li><a href="@Url.Action("Indexbaocao","Chitietnhaps")">Báo Cáo</a></li>
            @if (nv == null)
            {
                <li><a href="/login">Đăng nhập</a></li>

            }
            else
            {
                <li><a href="/Login/Logout">Đăng xuất</a></li>
            }
        </ul>
    </div>

    <p style="font-size: 22px;" class="timejs" id="clock"></p>

    <div class="table">
        <div class="table_header">
            <p>Phiếu đặt hàng mua</p>
            <form asp-action="Index">
                <div>
                    <input name="fromDate" type="date">
                    <input name="toDate" type="date">
                    <input placeholder="Enter..." name="searchString" type="text">
                    <input type="submit" value="Tìm kiếm" class="add_new" />
                </div>
            </form>
        </div>
        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>
                            Số p.đặt hàng
                        </th>
                        <th>
                            Ngày đặt hàng
                        </th>
                        <th>
                            Ngày tiếp nhận
                        </th>
                        <th>
                            Ngày Giao hàng
                        </th>
                        <th>
                            Đ.vị vận chuyển
                        </th>
                        <th>
                            Nhà cung cấp
                        </th>
                        <th>
                            Nhân viên xử lý
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th></th>
                       @* <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sopdhm)
                            </td>

                            <td>
                                @if (item.Ngaydat != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Ngaydat)
                                }
                                else
                                {
                                    @:Chưa xử lý
                                }
                            </td>

                            <td>
                                @if (item.Ngaytiepnhan != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Ngaytiepnhan)
                                }
                                else
                                {
                                    @:Chưa xử lý
                                }
                            </td>

                             <td>
                                @if (item.Ngaygiaohang != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Ngaygiaohang)
                                }
                                else
                                {
                                    @:Chưa xử lý
                                }
                            </td>

                            <td style="text-align:left;">
                                @Html.DisplayFor(modelItem => item.DonvivanchuyeniddvvcNavigation.Tendvvc)
                            </td>
                            <td style="text-align:left;">
                                @Html.DisplayFor(modelItem => item.NhacungcapidnccNavigation.Tenncc)
                            </td>
                            <td style="text-align:left;">
                                @Html.DisplayFor(modelItem => item.NhanvienidnhanvienNavigation.Tennhanvien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangthaiidttNavigation.Tentt)
                            </td>
                            <td>
                                <a href="@Url.Action("Indexxacnhan", "Chitietnhaps", new { Idpdhm = item.Idpdhm })" title="Xác nhận"><i class="fa-regular fa-clipboard"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagetb">
            @{
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.NoOfPages)
                {
                    NextPage = ViewBag.NoOfPages;
                }
            }

            <ul class="pagenumber">
                <li>
                    <a href="/Phieudathangmuas/Index?page=@PrevPage">
                        <
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li>
                            <a href="/Phieudathangmuas/Index?page=@(i+1)">
                                @(i + 1)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="page-link" href="/Phieudathangmuas/Index?page=@(i+1)">
                                @(i + 1)
                            </a>
                        </li>
                    }

                }
                <li>
                    <a href="/Phieudathangmuas/Index?page=@NextPage">
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
