@model QuanLyCuaHangSach.Models.Chitietxuat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chitietxuat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sldat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sldat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slgiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slgiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongiaban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongiaban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xacnhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xacnhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieudathangbanidpdhbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieudathangbanidpdhbNavigation.Idpdhb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SachidsachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SachidsachNavigation.Idsach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idctx">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
