@model QuanLyCuaHangSach.Models.Noidungthanhtoan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Noidungthanhtoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sotienthanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sotienthanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieudathangmuaidpdhmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieudathangmuaidpdhmNavigation.Idpdhm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuthanhtoantienmuaidptttmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieuthanhtoantienmuaidptttmNavigation.Idptttm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idndtt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
