@model QuanLyCuaHangSach.Models.Phieuthutienban

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phieuthutienban</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sopttb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sopttb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaythutien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaythutien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanvienidnhanvienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanvienidnhanvienNavigation.Idnhanvien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idpttb">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
